<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="NUEVA PLANTILLA DE TRABAJO">

      <div class="botonera">
        <button type="button" class="btn btn-light">Detalles</button>
        <button type="button" class="btn btn-light">Permisos</button>
        <button type="button" class="btn btn-light">Tareas Completadas</button>
        <button type="button" class="btn btn-light">Programaciones</button>
        <button type="button" class="btn btn-primary">Anadir Encuesta</button>
      </div>

      <form #validationForm="ngForm" class="editForm" novalidate>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label class="form-control-label">NOMBRE</label>
              <input class="form-control input-md" id="nombre" name="nombre" type="text"
                     [(ngModel)]="formInput.nombre">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="form-label">DESCRIPCION</label>
              <input class="form-control" name="descripcion"
                     minlength="6" [(ngModel)]="formInput.descripcion">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <div class="flex-space-between">
                <div>
                  <label class="form-label">TIPO DE TRABAJO
                    <i class="fas fa-question-circle" [placement]="'top'" ngbTooltip="tooltip on top"></i>
                  </label>
                </div>
                <div>
                  <input class="form-check-input" type="checkbox" name="cache">
                  <label class="form-check-label f-14" for="cache">Preguntar al ejecutar</label>
                </div>
              </div>
              <select name="tipoDeTrabajo" class="form-control form-control-default"
                      [(ngModel)]="formInput.tipoDeTrabajo">
                <option value="opt1">Select One Value Only</option>
                <option value="opt2">Type 2</option>
                <option value="opt3">Type 3</option>
                <option value="opt4">Type 4</option>
                <option value="opt5">Type 5</option>
                <option value="opt6">Type 6</option>
                <option value="opt7">Type 7</option>
                <option value="opt8">Type 8</option>
              </select>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <div class="flex-space-between">
                <div>
                  <label class="form-label">INVENTARIO
                    <i class="fas fa-question-circle" [placement]="'top'" ngbTooltip="tooltip on top"></i>
                  </label>
                </div>
                <div>
                  <input class="form-check-input" type="checkbox" name="cache">
                  <label class="form-check-label f-14" for="cache">Preguntar al ejecutar</label>
                </div>
              </div>
              <select name="inventario" [(ngModel)]="formInput.inventario" class="form-control form-control-default">
                <option value="opt1">Select One Value Only</option>
                <option value="opt2">Type 2</option>
                <option value="opt3">Type 3</option>
                <option value="opt4">Type 4</option>
                <option value="opt5">Type 5</option>
                <option value="opt6">Type 6</option>
                <option value="opt7">Type 7</option>
                <option value="opt8">Type 8</option>
              </select>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="form-label">PROYECTO <i class="fas fa-question-circle" [placement]="'top'" ngbTooltip="tooltip on top"></i></label>
              <select name="proyecto" [(ngModel)]="formInput.proyecto" class="form-control form-control-default">
                <option value="opt1">Select One Value Only</option>
                <option value="opt2">Type 2</option>
                <option value="opt3">Type 3</option>
                <option value="opt4">Type 4</option>
                <option value="opt5">Type 5</option>
                <option value="opt6">Type 6</option>
                <option value="opt7">Type 7</option>
                <option value="opt8">Type 8</option>
              </select>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="form-label">PLAYBOOK <i class="fas fa-question-circle" [placement]="'top'" ngbTooltip="tooltip on top"></i></label>
              <select name="playbook" class="form-control form-control-default" [ngModel]="formInput.playbook">
                <option value="opt1">Select One Value Only</option>
                <option value="opt2">Type 2</option>
                <option value="opt3">Type 3</option>
                <option value="opt4">Type 4</option>
                <option value="opt5">Type 5</option>
                <option value="opt6">Type 6</option>
                <option value="opt7">Type 7</option>
                <option value="opt8">Type 8</option>
              </select>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <div class="flex-space-between">
                <div>
                  <label class="form-label">CREDENCIAL
                    <i class="fas fa-question-circle" [placement]="'top'" ngbTooltip="tooltip on top"></i>
                  </label>
                </div>
                <div>
                  <input class="form-check-input" type="checkbox" name="cache">
                  <label class="form-check-label f-14" for="cache">Preguntar al ejecutar</label>
                </div>
              </div>
              <select name="credencial" class="form-control"
                      [ngModel]="formInput.credencial">
                <option value>Select gear...</option>
                <optgroup label="Climbing">
                  <option value="pitons">Pitons</option>
                  <option value="cams">Cams</option>
                  <option value="nuts">Nuts</option>
                  <option value="bolts">Bolts</option>
                  <option value="stoppers">Stoppers</option>
                  <option value="sling">Sling</option>
                </optgroup>
                <optgroup label="Skiing">
                  <option value="skis">Skis</option>
                  <option value="skins">Skins</option>
                  <option value="poles">Poles</option>
                </optgroup>
              </select>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="form-label">FORKS <i class="fas fa-question-circle" [placement]="'top'" ngbTooltip="tooltip on top"></i></label>
              <select name="forks" class="form-control form-control-default" [ngModel]="formInput.forks">
                <option value="opt1">Select One Value Only</option>
                <option value="opt2">Type 2</option>
                <option value="opt3">Type 3</option>
                <option value="opt4">Type 4</option>
                <option value="opt5">Type 5</option>
                <option value="opt6">Type 6</option>
                <option value="opt7">Type 7</option>
                <option value="opt8">Type 8</option>
              </select>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <div class="flex-space-between">
                <div>
                  <label class="form-label">LIMITE
                    <i class="fas fa-question-circle" [placement]="'top'" ngbTooltip="tooltip on top"></i>
                  </label>
                </div>
                <div>
                  <input class="form-check-input" type="checkbox" name="cache">
                  <label class="form-check-label f-14" for="cache">Preguntar al ejecutar</label>
                </div>
              </div>
              <input class="form-control" name="validation-password"
                     [(ngModel)]="formInput.limite">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <div class="flex-space-between">
                <div>
                  <label class="form-label">NIVEL DE DETALLE
                    <i class="fas fa-question-circle" [placement]="'top'" ngbTooltip="tooltip on top"></i>
                  </label>
                </div>
                <div>
                  <input class="form-check-input" type="checkbox" name="cache">
                  <label class="form-check-label f-14" for="cache">Preguntar al ejecutar</label>
                </div>
              </div>
              <select name="nivelDeDetalle" class="form-control form-control-default" required=""
                      [ngModel]="formInput.nivelDeDetalle">
                <option value="opt1">Select One Value Only</option>
                <option value="opt2">Type 2</option>
                <option value="opt3">Type 3</option>
                <option value="opt4">Type 4</option>
                <option value="opt5">Type 5</option>
                <option value="opt6">Type 6</option>
                <option value="opt7">Type 7</option>
                <option value="opt8">Type 8</option>
              </select>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <div class="flex-space-between">
                <div>
                  <label class="form-label">ETIQUETAS DE TRABAJO
                    <i class="fas fa-question-circle" [placement]="'top'" ngbTooltip="tooltip on top"></i>
                  </label>
                </div>
                <div>
                  <input class="form-check-input" type="checkbox" name="cache">
                  <label class="form-check-label f-14" for="cache">Preguntar al ejecutar</label>
                </div>
              </div>
              <input class="form-control input-md" id="etiquetasDeTrabajo" name="etiquetasDeTrabajo" type="text"
                     [(ngModel)]="formInput.etiquetasDeTrabajo">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <div class="flex-space-between">
                <div>
                  <label class="form-label">OMITIR ETIQUETAS
                    <i class="fas fa-question-circle" [placement]="'top'" ngbTooltip="tooltip on top"></i>
                  </label>
                </div>
                <div>
                  <input class="form-check-input" type="checkbox" name="cache">
                  <label class="form-check-label f-14" for="cache">Preguntar al ejecutar</label>
                </div>
              </div>
              <input class="form-control input-md" id="omitirEtiquetas" name="omitirEtiquetas" type="text"
                     [(ngModel)]="formInput.omitirEtiquetas">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="form-control-label">ETIQUETAS <i class="fas fa-question-circle" [placement]="'top'" ngbTooltip="tooltip on top"></i></label>
              <input class="form-control input-md" id="etiquetas" name="etiquetas" type="text"
                     [(ngModel)]="formInput.etiquetas">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="form-control-label">ENTORNO DE ANSIBLE <i class="fas fa-question-circle" [placement]="'top'" ngbTooltip="tooltip on top"></i></label>
              <select name="entornoAnsible" class="form-control form-control-default"
                      [ngModel]="formInput.entornoAnsible">
                <option value="opt1">Select One Value Only</option>
                <option value="opt2">Type 2</option>
                <option value="opt3">Type 3</option>
                <option value="opt4">Type 4</option>
                <option value="opt5">Type 5</option>
                <option value="opt6">Type 6</option>
                <option value="opt7">Type 7</option>
                <option value="opt8">Type 8</option>
              </select>

            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="form-control-label">GRUPOS DE INSTANCIAS <i class="fas fa-question-circle" [placement]="'top'" ngbTooltip="tooltip on top"></i></label>
              <select name="grupoInstancias" class="form-control form-control-default"
                      [ngModel]="formInput.grupoInstancias">
                <option value="opt1">Select One Value Only</option>
                <option value="opt2">Type 2</option>
                <option value="opt3">Type 3</option>
                <option value="opt4">Type 4</option>
                <option value="opt5">Type 5</option>
                <option value="opt6">Type 6</option>
                <option value="opt7">Type 7</option>
                <option value="opt8">Type 8</option>
              </select>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="form-control-label">JOB SLICING <i class="fas fa-question-circle" [placement]="'top'" ngbTooltip="tooltip on top"></i></label>
              <select name="jobSlicing" class="form-control form-control-default" [ngModel]="formInput.jobSlicing">
                <option value="opt1">Select One Value Only</option>
                <option value="opt2">Type 2</option>
                <option value="opt3">Type 3</option>
                <option value="opt4">Type 4</option>
                <option value="opt5">Type 5</option>
                <option value="opt6">Type 6</option>
                <option value="opt7">Type 7</option>
                <option value="opt8">Type 8</option>
              </select>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label class="form-control-label">TIMEOUT <i class="fas fa-question-circle" [placement]="'top'" ngbTooltip="tooltip on top"></i></label>
              <select name="timeout" class="form-control form-control-default" [ngModel]="formInput.timeout">
                <option value="opt1">Select One Value Only</option>
                <option value="opt2">Type 2</option>
                <option value="opt3">Type 3</option>
                <option value="opt4">Type 4</option>
                <option value="opt5">Type 5</option>
                <option value="opt6">Type 6</option>
                <option value="opt7">Type 7</option>
                <option value="opt8">Type 8</option>
              </select>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <div class="flex-space-between">
                <div>
                  <label class="form-label">MOSTRAR CAMBIOS
                    <i class="fas fa-question-circle" [placement]="'top'" ngbTooltip="tooltip on top"></i>
                  </label>
                </div>
                <div>
                  <input class="form-check-input" type="checkbox" name="cache">
                  <label class="form-check-label f-14" for="cache">Preguntar al ejecutar</label>
                </div>
              </div>
            </div>
            <div class="switch switch-primary d-inline m-r-10 pt-0">
              <input type="checkbox" id="switch-p-1" checked [ngModel]="formInput.mostrarCambios">
              <label for="switch-p-1" class="cr"></label>
            </div>
          </div>
        </div>
        <label>OPCIONES</label>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="privilegios" name="privilegios"
                 [ngModel]="formInput.privilegios">
          <label class="form-check-label" for="privilegios">ACTIVAR LA ELEVACION DE PRIVILEGIOS <i class="fas fa-question-circle" [placement]="'top'" ngbTooltip="tooltip on top"></i></label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="callbacks" name="callbacks"
                 [ngModel]="formInput.callbacks">
          <label class="form-check-label" for="callbacks">PERMITIR LA EJECUCION UTILIZANDO CALLBACKS <i class="fas fa-question-circle" [placement]="'top'" ngbTooltip="tooltip on top"></i></label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="trabajosConcurrentes" name="trabajosConcurrentes"
                 [ngModel]="formInput.trabajosConcurrentes">
          <label class="form-check-label" for="trabajosConcurrentes">ACTIVAR LOS TRABAJOS CONCURRENTES <i class="fas fa-question-circle" [placement]="'top'" ngbTooltip="tooltip on top"></i></label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="cache" name="cache" [ngModel]="formInput.cache">
          <label class="form-check-label" for="cache">USAR CACHE DE EVENTOS <i class="fas fa-question-circle" [placement]="'top'" ngbTooltip="tooltip on top"></i></label>
        </div>

        <div class="form-group text-center">
          <button type="button" class="btn btn-primary btn-raised" (click)="save(validationForm)"> Guardar
            <span style="margin-left:10px;"><i class="feather icon-chevron-right"></i></span></button>
        </div>
      </form>
    </app-card>
  </div>
</div>
