<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="NUEVA ORGANIZACION">
      <ul ngbNav #nav="ngbNav" class="nav-tabs">
        <li [ngbNavItem]="1" class="m-r-15">
          <a ngbNavLink>Detalles</a>
          <ng-template ngbNavContent>
            <form #organizacionForm="ngForm" class="editForm" novalidate>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="form-control-label">NOMBRE</label>
                    <input class="form-control form-control-sm input-md" id="nombre" name="nombre" type="text"
                           [(ngModel)]="formInput.nombre">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="form-label">DESCRIPCION</label>
                    <input class="form-control form-control-sm" name="descripcion"
                           minlength="6" [(ngModel)]="formInput.descripcion">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="form-label">GRUPO DE INSTANCIAS<i class="fas fa-question-circle"></i></label>
                    <div class="input-group mb-3">
                      <button class="btn btn-light" type="button" data-toggle="modal"
                              (click)="modalSelect.show(this.HARDCODEO,grupoInstancias)"><i class="fas fa-search"></i>
                      </button>
                      <input type="text" #grupoInstancias name="grupoInstancias" id="grupoInstancias"
                             [(ngModel)]="formInput.grupoInstancias" class="form-control form-control-sm" >
                      <div class="input-group-append">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="form-label">ENTORNO DE ANSIBLE<i class="fas fa-question-circle"></i></label>
                    <div class="input-group mb-3">
                      <input type="text" #entornoAnsible name="entornoAnsible" id="entornoAnsible" class="form-control form-control-sm" [(ngModel)]="formInput.entornoAnsible" >
                      <div class="input-group-append">
                        <button class="btn btn-light" type="button" data-toggle="modal" (click)="modalSelect.show(this.ENTORNO_ANSIBLE,entornoAnsible)"><i class="fas fa-arrow-circle-down"></i></button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group text-center flex-justify-end">
                <button type="button" class="btn btn-light btn-raised m-l-10" (click)="save(organizacionForm)"> CANCELAR
                </button>
                <button type="button" class="btn btn-light btn-raised m-l-10" (click)="save(organizacionForm)"> GUARDAR
                </button>
              </div>
            </form>


          </ng-template>
        </li>

        <li [ngbNavItem]="2" class="m-r-15">
          <a ngbNavLink>Usuarios</a>
          <ng-template ngbNavContent>

            <div class="row m-t-15">
              <div class="col-sm-8 col-xs-8 col-xl-4">
                <div class="input-group mb-3">
                  <input type="text" class="form-control form-control-sm">
                  <button class="btn btn-sm btn-light" type="button" data-toggle="modal"><i class="fas fa-search"></i>
                  </button>
                  <button class="btn btn-sm btn-light" type="button">CLAVE</button>
                </div>
              </div>
              <div class="col-xl-8 col-sm-4 col-xs-4">
                <div class="btn-group mb-2 mr-2 float-right">
                  <button class="btn btn-sm btn-success" type="button" (click)="permisosModal.showEmpty()"><i
                    class="fas fa-plus"></i>
                  </button>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                <tr>
                  <th>Usuario</th>
                  <th>Funciones</th>
                  <th>Funciones de Equipo</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let u of usuarios">
                  <td>{{u.nombre}}</td>
                  <td>{{u.funcion}}</td>
                  <td>{{u.funcionEquipo}}</td>
                </tr>
                </tbody>
              </table>
            </div>


          </ng-template>
        </li>
        <li [ngbNavItem]="3" class="m-r-15">
          <a ngbNavLink>Permisos</a>
          <ng-template ngbNavContent>
            <p>Permisos</p>
          </ng-template>
        </li>

      </ul>

      <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </app-card>



    <app-card cardTitle="ORGANIZACIONES">
      <div *ngFor="let o of organizaciones" class="col-md-6 col-xl-4 organizacionCard">
        <app-card [hidHeader]="true">
          <div class="row">
            <div class="col-md-12">
              <h6 class="card-title float-left ">{{o.nombre}}</h6>
              <i class="far fa-trash-alt float-right"></i>
              <i class="fas fa-pencil-alt float-right"></i>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-sm-6">
              <div class="row">
                <span class="badge m-r-5 wid-35 hei-20 badge-pill badge-secondary">0</span>
                <p>USUARIOS</p>
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="row">
                <span class="badge m-r-5 wid-35 hei-20 badge-pill badge-secondary">0</span>
                <p>EQUIPOS</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-sm-6">
              <div class="row">
                <span class="badge m-r-5 wid-35 hei-20 badge-pill badge-secondary">0</span>
                <p>INVENTARIOS</p>
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="row">
                <span class="badge m-r-5 wid-35 hei-20 badge-pill badge-secondary">0</span>
                <p>PROYECTOS</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-sm-6">
              <div class="row">
                <span class="badge m-r-5 wid-35 hei-20 badge-pill badge-secondary">0</span>
                <p>PLANTILLAS</p>
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="row">
                <span class="badge m-r-5 wid-35 hei-20 badge-pill badge-secondary">0</span>
                <p>ADMINS</p>
              </div>
            </div>
          </div>
        </app-card>
      </div>
    </app-card>

  </div>
</div>


<app-ui-modal #modalSelect hideHeader="true" dialogClass="modal-dialog-centered modal-sm">
  <div class="app-modal-body wid-250">
    <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close"
            (click)="modalSelect.hide()"><span aria-hidden="true">&times;</span></button>
    <div *ngFor="let c of modalSelect.content" class="col-md-12 col-xs-12 flex-justify-center modalContainer">
      <button type="button" class="btn btn-outline-secondary" (click)="selectedValue(c.value, this.modalSelect.formInput)">{{c.value}}</button>
    </div>
  </div>
</app-ui-modal>
