<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="NUEVA ORGANIZACION">
      <div class="botonera-workflow">
        <button type="button" class="btn btn-light">Detalles</button>
        <button type="button" class="btn btn-light">Usuarios</button>
        <button type="button" class="btn btn-light">Permisos</button>
      </div>
      <form #organizacionForm="ngForm" class="editForm" novalidate>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label class="form-control-label">NOMBRE</label>
              <input class="form-control input-md" id="nombre" name="nombre" type="text"
                     [(ngModel)]="formInput.nombre">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="form-label">DESCRIPCION</label>
              <input class="form-control" name="descripcion"
                     minlength="6" [(ngModel)]="formInput.descripcion">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="form-label">GRUPO DE INSTANCIAS<i class="fas fa-question-circle"></i></label>
              <select name="inventario" [(ngModel)]="formInput.grupoInstancias" class="form-control form-control-default">
                <option value="opt1">Select One Value Only</option>
                <option value="opt2">Type 2</option>
                <option value="opt3">Type 3</option>
                <option value="opt4">Type 4</option>
                <option value="opt5">Type 5</option>
                <option value="opt6">Type 6</option>
                <option value="opt7">Type 7</option>
                <option value="opt8">Type 8</option>
              </select>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="form-label">ENTORNO DE ANSIBLE<i class="fas fa-question-circle"></i></label>
              <select name="inventario" [(ngModel)]="formInput.entornoAnsible" class="form-control form-control-default">
                <option value="opt1">Select One Value Only</option>
                <option value="opt2">Type 2</option>
                <option value="opt3">Type 3</option>
                <option value="opt4">Type 4</option>
                <option value="opt5">Type 5</option>
                <option value="opt6">Type 6</option>
                <option value="opt7">Type 7</option>
                <option value="opt8">Type 8</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-group text-center flex-justify-end">
          <button type="button" class="btn btn-light btn-raised m-l-10" (click)="save(organizacionForm)"> CANCELAR
          </button>
          <button type="button" class="btn btn-light btn-raised m-l-10" (click)="save(organizacionForm)"> GUARDAR
          </button>
        </div>
      </form>
    </app-card>
    <app-card cardTitle="ORGANIZACIONES">
      <div *ngFor="let o of organizaciones">
        <p>{{o.nombre}}</p>
      </div>
    </app-card>
  </div>
</div>
