<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="NUEVA PLANTILLA DE FLUJO DE TRABAJO">
      <div class="botonera-workflow">
        <button type="button" class="btn btn-light">Detalles</button>
        <button type="button" class="btn btn-light">Permisos</button>
        <button type="button" class="btn btn-light">Tareas Completadas</button>
        <button type="button" class="btn btn-light">Programaciones</button>
        <button type="button" class="btn btn-primary">Anadir Encuesta</button>
        <button type="button" class="btn btn-primary">Visualizador de flujos de trabajo</button>
      </div>
      <form #validationForm="ngForm" class="editForm" novalidate>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label class="form-control-label">NOMBRE</label>
              <input class="form-control input-md" id="nombre" name="nombre" type="text"
                     [(ngModel)]="formInput.nombre">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="form-label">DESCRIPCION</label>
              <input class="form-control" name="descripcion"
                     minlength="6" [(ngModel)]="formInput.descripcion">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="form-label">ORGANIZACION <i class="fas fa-question-circle" [placement]="'top'" ngbTooltip="tooltip on top"></i></label>
              <select name="tipoDeTrabajo" class="form-control form-control-default"
                      [(ngModel)]="formInput.tipoDeTrabajo">
                <option value="opt1">Select One Value Only</option>
                <option value="opt2">Type 2</option>
                <option value="opt3">Type 3</option>
                <option value="opt4">Type 4</option>
                <option value="opt5">Type 5</option>
                <option value="opt6">Type 6</option>
                <option value="opt7">Type 7</option>
                <option value="opt8">Type 8</option>
              </select>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="form-label">INVENTARIO <i class="fas fa-question-circle"></i></label>
              <select name="inventario" [(ngModel)]="formInput.inventario" class="form-control form-control-default">
                <option value="opt1">Select One Value Only</option>
                <option value="opt2">Type 2</option>
                <option value="opt3">Type 3</option>
                <option value="opt4">Type 4</option>
                <option value="opt5">Type 5</option>
                <option value="opt6">Type 6</option>
                <option value="opt7">Type 7</option>
                <option value="opt8">Type 8</option>
              </select>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="form-label">ETIQUETAS <i class="fas fa-question-circle"></i></label>
              <input class="form-control input-md" id="nombre" name="nombre" type="text"
                     [(ngModel)]="formInput.nombre">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="form-label">OPCIONES <i class="fas fa-question-circle"></i></label>
              <select name="playbook" class="form-control form-control-default" [ngModel]="formInput.playbook">
                <option value="opt1">Select One Value Only</option>
                <option value="opt2">Type 2</option>
                <option value="opt3">Type 3</option>
                <option value="opt4">Type 4</option>
                <option value="opt5">Type 5</option>
                <option value="opt6">Type 6</option>
                <option value="opt7">Type 7</option>
                <option value="opt8">Type 8</option>
              </select>
            </div>
          </div>
          <div class="col-md-12">
            <div class="flex-space-between">
              <div>
                <label class="form-label">VARIABLES ADICIONALES
                  <i class="fas fa-question-circle"></i>
                </label>
              </div>
              <div>
                <input class="form-check-input" type="checkbox" name="variablesAdicionales">
                <label class="form-check-label f-14" for="variablesAdicionales">Preguntar al ejecutar</label>
              </div>
            </div>
            <div class="form-group">
              <textarea name="variablesAdicionales" id="variablesAdicionales" cols="30" rows="10"
                        class="wid-250"></textarea>
            </div>
          </div>
        </div>
        <div class="form-group text-center flex-justify-end">
          <button type="button" class="btn btn-primary btn-raised m-l-10" (click)="save(validationForm)"> LANZAMIENTO
          </button>
          <button type="button" class="btn btn-light btn-raised m-l-10" (click)="save(validationForm)"> CANCELAR
          </button>
          <button type="button" class="btn btn-light btn-raised m-l-10" (click)="save(validationForm)"> GUARDAR
          </button>
        </div>
      </form>
    </app-card>
  </div>
</div>
