.botonera-workflow{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.flex-justify-end {
  display: flex;
  justify-content: flex-end;
}

textarea {
  width: 100%;
  height: 150px;
}
